.App {
	text-align: center;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

.recipe-box {
	border: 2px solid white;
	margin: 20px;
}

.result-list h4 {
	margin: 10px;
}

.result-list .card {
	text-align: center;
	margin: 10px;
	padding: 5px;

	width: 500px;
	display: inline-block;

	background-color: rgb(231, 231, 231);
	color: black;
	font-size: 16px;
}

.result-list .card p {
	margin-bottom: -25px;
}
.result-list .card h4 {
	margin-bottom: -6px;
}

.result-list .card.result-card {
	cursor: pointer;
}

.recipe-item {
	background-color: gray;
	cursor: pointer;
	max-width: 400px;
	display: grid;
	margin: 40px;
}
